@font-face {
    font-family: 'MyCustomFont';
    src: url('Playfair.ttf') format('truetype');
}
@font-face {
    font-family: 'MyCustomFontTwo';
    src: url('Playfair-Italic-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
}
.custom-font {
    -fx-font-family: 'MyCustomFontTwo';
}
.rounded-label {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 10px;
    -fx-padding: 5px 5px;
}
.rounded-label-badge {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 5px;
    -fx-padding: 5px 5px;
}